@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: rgb(34, 36, 32);
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 90%;
    height: 90%;
    box-shadow: 0px 20px 40px #000;
    /* background: url('cat1.png') no-repeat center center/cover; */
    transition: all 2s ease-in-out;
}

nav {
    width: 90%;
    height: 10%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 20%;
    height: 100%;
    /* border: 1px solid red; */
    color: #fff;
    font-weight: 600;
    font-family: "system-ui";
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav ul {
    width: 80%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul li {
    list-style-type: none;
    padding: 5px 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .3px;
    font-family: 'Roboto Condensed', sans-serif;
    transition: all .3s ease-in-out;
}

nav ul li a:hover {
    color: rgb(80, 80, 80);
}

section {
    width: 90%;
    height: 80%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
}

section .side1 {
    width: 97%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

section .side1 .content {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

section .side1 .content h3 {
    color: #fff;
    word-spacing: 30px;
    letter-spacing: 33px;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

section .side1 .content h1 {
    color: #fff;
    font-size: 160px;
    margin-right: 25px;
    line-height: 0.8;
    font-family: 'Roboto Condensed', sans-serif;
}

section .side1 .content h5 {
    color: #fff;
    word-spacing: 30px;
    letter-spacing: 27px;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

section .side2 {
    width: 3%;
    height: 100%;
    /* border: 1px solid red; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    font-size: 13px;
    letter-spacing: 1.5px;
    word-spacing: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

footer {
    width: 90%;
    height: 10%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .social {
    width: 50%;
    /* border: 1px solid red; */
}

footer .social a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    transition: all .3s ease-in-out;
}

footer .social a:hover {
    color: rgb(80, 80, 80);
}

footer .butt {
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer .butt button {
    width: 5px;
    height: 5px;
    padding: 3px;
    border-radius: 50%;
    border: none;
    margin: 10px;
    transition: all .3s ease-in-out;
}

nav button {
    display: none;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    z-index: 1000;
}

nav button .bi {
    font-size: 22px;
}


/* java classes  */

nav .dis {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(34, 36, 32), 0.1;
    backdrop-filter: blur(5px);
    z-index: 999;
    animation: menu 1s linear forwards;
}

nav .dis li {
    padding: 30px;
}

nav .dis li a {
    font-size: 20px;
}

nav button .bi-x-lg {
    font-size: 22px;
}

@keyframes menu {
    0% {
        opacity: 0;
        width: 30%;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@media(max-width:700px) {
    nav ul {
        display: none;
    }
    nav button {
        display: flex;
    }
}

@media(max-width:500px) {
    section .side1 .content h1 {
        font-size: 140px;
    }
    section .side1 .content h3 {
        font-size: 25px;
        letter-spacing: 28px;
    }
    section .side1 .content h5 {
        font-size: 25px;
        letter-spacing: 23px;
    }
    footer .social a {
        padding: 5px;
    }
}

@media(max-width:410px) {
    section .side1 .content h1 {
        font-size: 117px;
    }
    section .side1 .content h3 {
        font-size: 20px;
        letter-spacing: 24px;
    }
    section .side1 .content h5 {
        font-size: 20px;
        letter-spacing: 20px;
    }
}

@media(max-width:360px) {
    section .side1 .content h1 {
        font-size: 105px;
    }
    section .side1 .content h3 {
        font-size: 19px;
        letter-spacing: 19px;
        margin-right: 15px;
    }
    section .side1 .content h5 {
        font-size: 19px;
        letter-spacing: 15px;
        margin-right: 15px;
    }
    footer .social a {
        font-size: 13px;
    }
}

@media(max-width:320px) {
    section .side1 .content h1 {
        font-size: 90px;
    }
    section .side1 .content h3 {
        font-size: 19px;
        letter-spacing: 15px;
        margin-right: 15px;
    }
    section .side1 .content h5 {
        font-size: 19px;
        letter-spacing: 12px;
        margin-right: 15px;
    }
    footer .social a {
        font-size: 11px;
    }
}